.data-view-container {
  padding: 20px;
}

.data-view-container::-webkit-scrollbar {
  display: none; 
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: calc(100vh - 120px); 
  overflow-y: auto;
  justify-content: center;
}

.grid-item {
  background-color: #3B3B3B;
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 6px #FFE81F;
  text-align: center;
  justify-content: center;
  width: 14%; 
}

.grid-item:hover {
  background-color: goldenrod;
}

.grid-item button {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  padding: inherit;
  border: none;
  border-radius: inherit;
  text-align: inherit;
  justify-content: inherit;
  width: 100%; 
  cursor: pointer;
}

.grid-item button:hover {
  background-color: goldenrod;
}

.char-title {
  color: white;
  font-family: 'TitleFont', sans-serif;
  font-size: 40px;
  text-shadow: 8px 8px 10px #FFE81F;
}

@media (max-width: 768px) {
  .grid-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .grid-item {
    width: 100%;
  }
}
