.header {
    background-color: transparent; 
    padding: 10px 20px;
  }
  
  .header img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .title {
    font-family: 'TitleFont', sans-serif;
    font-size: 25px;
    color: #FFE81F;
    margin-top: -0.3%;
  }